* {
    font-family: "Vollkorn", serif;
}

header {
    background-color: #A91D3A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}
header span{
    color: #FCF5ED;
}
.nav-item a{
    color:  #FCF5ED;
}
/*El orden recomendado es LoVe HAte, que significa :link, :visited, :hover, :active. */
/*link visitado*/
.nav-item a:visited{
    color: #FCF5ED;
}
.nav-item a:hover{
    color:#F4BF96
}

/* Enlace activo (al hacer clic si no esta presionado no cambia) */
.nav-item a:active {
    color: rgb(255, 226, 63); /* Color del enlace cuando se hace clic */
  }
#nav-button{
    background-color:#D98F9D;
}
#primerboton{
    background-color: #8C1F33;
    border-color:#D98F9D;
}
#fotomia {
    border-radius: 300px 300px 50px;
    width: 160px;
    border: solid; /* solid, double, varias propiedades */
    padding: 5px;
    border-color: #A91D3A;
   
}
#presentacion{
    text-align: justify ;
}

li {
    list-style: none;
}
#habilidad {
    color : #0D0D0D;
    font-size:20px;
    line-height: 1;
   
    font-weight: bolder;
}
#html {
    color : #0D0D0D;
    font-size:30px;
    font-weight: bolder;
}
#hard {
    background-color: antiquewhite;
}

#hard {
    background-color: antiquewhite;
}

#tabla1{
background-color: #A91D3A;
text-align: center;
color:azure
}
#soft {
    background-color: #FFCDBF;
}
#idiomas{
    background-color: #F4BF96;
}

/* Estilos para la tarjeta */
.card {
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

/* Estilos para la imagen dentro de la tarjeta */
.card-img-top {
    border-radius: 15px; /* Bordes redondeados */
    transition: opacity 0.3s ease-in-out; /* Transición para la opacidad */
}

/* Efecto de opacidad en la imagen al pasar el cursor sobre la tarjeta */
.card-img-top:hover {
    opacity: 0.7; /* Opacidad al pasar el cursor */
}

/* Asegúrate de que el enlace rodee la imagen */
.card-link {
    display: block; /* Asegura que el enlace ocupe el bloque completo */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

/* Opcional: sombra en la tarjeta */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
